<ul>
	<li><%= user.name %> <%= link_to "Profile", user %>
		<% if !current_user.friends.include?(user) %>
			<%= link_to "Send friend request",  friend_requests_path(:friend_id => user.id), method: :post%>
		<% else %>
			<p>(already friends)</p>
		<% end %>
	</li>

</ul>